:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  color-scheme: light dark;
  color: var(--off-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 1rem 10px */
}

body {
  font-size: 1.6em; /* default font of 16px */
  background-color: var(--light-grey);
}

/* TYPOGRAPHY */
label .description {
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1rem;
  color: var(--smokey-grey);
}

input {
  font-size: 2rem;
  font-weight: 800;
}

.error-mssg {
  padding-top: 1em;
  color: var(--light-red);
  font-style: italic;
  font-size: 0.75rem;
}

.results-cnt > p {
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
}

.results-cnt > p > span {
  color: var(--purple);
}

/* MAIN */

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding: 2em 1.5em;
  width: 95%;
  border-radius: 20px 20px 80px 20px;
  background-color: var(--off-white);
}

form {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "a a a"
    "b b b";
}

.input-cnt {
  display: flex;
  justify-content: space-between;
  grid-area: a;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

label > input {
  width: 90px;
  border-radius: 5px;
  background-color: var(--off-white);
  border: 1px solid var(--light-grey);
  color: var(--off-black);
  padding: 0.5em;
}

input:focus,
input:active {
  outline: none;
  border: 1px solid var(--purple);
}

.button-cnt {
  padding: 4em 0 3em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: b;
}

button {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  display: block;
  max-width: 50px;
  padding: 15px;
  margin: 2em;
  border-radius: 50%;
  border: none;
  background-color: var(--purple);
}

button:active,
button:hover {
  background-color: var(--off-black);
}

button img {
  width: 100%;
}

.line {
  width: 100%;
  border: 1px solid var(--light-grey);
  height: 1px;
}

.results-cnt > p:nth-child(2) {
  margin: -25px 0;
}

@media (min-width: 650px) {
  /* TYPOGRAPHY */

  input {
    font-size: 2rem;
    font-weight: 800;
  }

  .error-mssg {
    font-size: 1rem;
  }

  .results-cnt > p {
    font-weight: 800;
    font-style: italic;
    font-size: 6rem;
  }

  .results-cnt > p > span {
    color: var(--purple);
  }

  /* MAIN */

  .main-wrapper {
    padding: 3em 3em;
    width: 600px;
    border-radius: 20px 20px 125px 20px;
  }

  .input-cnt {
    justify-content: start;
    gap: 0 1.5em;
  }

  label > input {
    width: 110px;
  }

  .button-cnt {
    padding: 2.5em 0 1.5em 0;
    justify-content: flex-end;
  }

  button {
    max-width: 60px;
    margin: 0;
  }

  .results-cnt > p:nth-child(2) {
    margin: -25px 0;
  }
}
