:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  color-scheme: light dark;
  color: var(--off-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 1rem 10px */
}

body {
  font-size: 1.6em; /* default font of 16px */
  background-color: var(--light-grey);
}

/* TYPOGRAPHY */
label {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--smokey-grey);
}

input {
  font-size: 2.5rem;
  font-weight: 700;
}

.results-cnt > p {
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
}

.results-cnt > p > span {
  color: var(--purple);
}

/* MAIN */

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding: 2em 0;
  width: 95%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px 20px 75px 20px;
  background-color: var(--off-white);
}

form {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "a a a"
    "b b b";
}

.input-cnt {
  display: flex;
  justify-content: space-between;
  grid-area: a;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

label > input {
  border-radius: 5px;
  background-color: var(--off-white);
  border: 1px solid var(--light-grey);
  color: var(--off-black);
  padding: 0.25em;
}

input:focus, input:active {
  outline: none;
  border: 1px solid var(--purple);
}

button {
  cursor: pointer;
  grid-area: b;
  display: block;
  max-width: 50px;
  padding: 15px;
  margin: 2em;
  border-radius: 50%;
  border: none;
  background-color: var(--purple);
}

button:active, button:hover {
  background-color: var(--off-black);
}

button > img {
  width: 100%;
}

.results-cnt {
  padding: 0 1.5em;
}

.results-cnt > p:nth-child(2) {
  margin: -25px 0;
}